<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CSE225"
        tools:targetApi="31">
        <activity
            android:name=".JobSchedulerEx"
            android:exported="false" />
        <activity
            android:name=".ToolBarEx"
            android:exported="false" />
        <activity
            android:name=".SplashScreenExTwo"
            android:exported="false" />
        <activity
            android:name=".SplashScreenExOne"
            android:exported="false" />
        <activity
            android:name=".ScrollViewEx"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RatingBarEx"
            android:exported="false" />
        <activity
            android:name=".ProgressBarEx"
            android:exported="false" />
        <activity
            android:name=".NotificationViewEx"
            android:exported="false"
            android:label="@string/title_activity_notification_view_ex"
            android:theme="@style/Theme.CSE225" />
        <activity
            android:name=".NotificationManagerEx"
            android:exported="false" />
        <activity
            android:name=".ImageReceiverEx"
            android:exported="false" />
        <activity
            android:name=".ImagePickerEx"
            android:exported="false" />
        <activity
            android:name=".CustomToastEx"
            android:exported="false" />
        <activity
            android:name=".AlarmManagerEx"
            android:exported="false" />
        <activity
            android:name=".AlarmManagerBroadcast"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <receiver android:name=".AlarmManagerBroadcast" />
        <service android:name=".MyJobService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />
    </application>

</manifest>